//

@import 'partials/variables';

header {
    .bg {
        background-color: $bgcolor;
        height: 200px;
    }

    .d-flex {
        display: flex;
    }

    li {
        padding: 20px;
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: $link;

        &:hover {
            color: $linkhovercolor;
        }
    }

    .justify-around {
        display: flex;
        justify-content: space-around;
    }

    .width {
        width: 80px;
        height: 80px;
        padding-top: 20px;
    }

    .pb-2 {
        padding-bottom: 20px;
    }

    .bg-jumbotron {
        background-image: url("/assets/img/jumbotron.jpg");
        height: 40vh;
        background-size: cover;
    }

    .pl-110 {
        padding-left: 110px;
    }

    .pt-50 {
        padding-top: 50px;
    }

    .bg-series {
        background-color: $linkhovercolor;
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: $bgcolormain;
    }

    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
        bottom: -20px;
        left: 6rem;
        z-index: 1;
    }
}





main {

    .bg {
        background-image: url("/assets/img/footer-bg.jpg");
        height: 55vh;
        background-size: cover;
        background-position: center;
        color: $bgcolormain;
    }

    li {
        list-style: none;
        color: $licolor;
        padding: 3px;
    }

    .d-flex {
        display: flex;
    }

    .bg-logo {
        background-image: url("/assets/img/dc-logo-bg.png");
        height: 55vh;
        background-size: cover;
        background-position: center;
        width: 500px;
    }

    .ml-30 {
        margin-left: -35px;
    }

    .justify-around {
        display: flex;
        justify-content: space-around;
    }

    .bg-main-card {
        background-color: $bgmaincard;
        height: 100vh;
    }

    .d-flex-wrap {
        display: flex;
        flex-wrap: wrap;
        padding-left: 6rem;
        padding-top: 30px;
    }

    .bg-series {
        background-color: $linkhovercolor;
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: $bgcolormain;
    }

    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translate(-50%, -50%);
    }

    .cursor {
        cursor: pointer;
    }

    .font{
        font-weight: bold;
    }

    .d-block{
        display: block;
    }

    .width-dc{
        color: $bgcolormain;
        width: calc(100% / 6);
        margin: auto;
       }
     
    .widthimg{
        height: 200px;
    }
     
    .bg-tag {
        background-color: $linkhovercolor;
      }
      
      
    .li-dc {
        padding: 20px;
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
    }
      
      a{
        text-decoration: none;
        color: $bgcolormain;
      }
      
      .justify-around {
        display: flex;
        justify-content: space-around;
      }

      
    .width-img{
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: center;
    }
      
    .vertical-align{
        vertical-align: middle;
    }
      
    .pb-2 {
        padding-bottom: 20px;
    }
      
    .padding-5{
        padding: 5px;
    }

    .li-color{
        color: $licolor;
    }
}




footer {
    .bg {
        background-color: $bgfootercolor;
        height: 100px;
    }

    .d-flex-around {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .d-flex {
        display: flex;
        align-items: center;
    }

    .utilities {
        padding: 10px;
        border: 4px solid $linkhovercolor;
        background-color: $bgfootercolor;
        color: $bgcolormain;
        &:hover{
            border: 4px solid $bgcolor;
            background-color: $linkhovercolor;
            color: $bgfootercolor;
        }
    }

    .cursor {
        cursor: pointer;
    }

    .color {
        color: $linkhovercolor;
    }

    .p-10 {
        padding: 10px;
    }
}