header .bg {
  background-color: rgb(255, 255, 255);
  height: 200px;
}

header .d-flex {
  display: flex;
}

header li {
  padding: 20px;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: rgb(2, 130, 249);
}

header .justify-around {
  display: flex;
  justify-content: space-around;
}

header .width {
  width: 80px;
  height: 80px;
  padding-top: 20px;
}

header .pb-2 {
  padding-bottom: 20px;
}

header .bg-jumbotron {
  background-image: url("/assets/img/jumbotron.jpg");
  height: 40vh;
  background-size: cover;
}

header .pl-110 {
  padding-left: 110px;
}

header .pt-50 {
  padding-top: 50px;
}

header .bg-series {
  background-color: rgb(2, 130, 249);
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

header .position-relative {
  position: relative;
}

header .position-absolute {
  position: absolute;
  bottom: -20px;
  left: 6rem;
  z-index: 1;
}

main .bg {
  background-image: url("/assets/img/footer-bg.jpg");
  height: 55vh;
  background-size: cover;
  background-position: center;
  color: white;
}

main li {
  list-style: none;
  color: grey;
  padding: 3px;
}

main .d-flex {
  display: flex;
}

main .bg-logo {
  background-image: url("/assets/img/dc-logo-bg.png");
  height: 55vh;
  background-size: cover;
  background-position: center;
  width: 500px;
}

main .ml-30 {
  margin-left: -35px;
}

main .justify-around {
  display: flex;
  justify-content: space-around;
}

main .bg-main-card {
  background-color: rgb(28, 28, 28);
  height: 100vh;
}

main .d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 6rem;
  padding-top: 30px;
}

main .bg-series {
  background-color: rgb(2, 130, 249);
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

main .position-relative {
  position: relative;
}

main .position-absolute {
  position: absolute;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
}

main .cursor {
  cursor: pointer;
}

main .font {
  font-weight: bold;
}

main .d-block {
  display: block;
}

main .width-dc {
  color: white;
  width: 16.6666666667%;
  margin: auto;
}

main .widthimg {
  height: 200px;
}

main .bg-tag {
  background-color: rgb(2, 130, 249);
}

main .li-dc {
  padding: 20px;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

main a {
  text-decoration: none;
  color: white;
}

main .justify-around {
  display: flex;
  justify-content: space-around;
}

main .width-img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

main .vertical-align {
  vertical-align: middle;
}

main .pb-2 {
  padding-bottom: 20px;
}

main .padding-5 {
  padding: 5px;
}

main .li-color {
  color: grey;
}

footer .bg {
  background-color: rgb(48, 48, 48);
  height: 100px;
}

footer .d-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .d-flex {
  display: flex;
  align-items: center;
}

footer .utilities {
  padding: 10px;
  border: 4px solid rgb(2, 130, 249);
  background-color: rgb(48, 48, 48);
  color: white;
}

footer .utilities:hover {
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(2, 130, 249);
  color: rgb(48, 48, 48);
}

footer .cursor {
  cursor: pointer;
}

footer .color {
  color: rgb(2, 130, 249);
}

footer .p-10 {
  padding: 10px;
}

